<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76ae94">  <td>18/08/27 11:05:03</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;NewTestDemo.beforeTest()[pri:0, instance:example.NewTestDemo@66a3ffec]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/08/27 11:05:10</td>   <td>7213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTestDemo.NewTestDemo()[pri:0, instance:example.NewTestDemo@66a3ffec]">NewTestDemo</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/08/27 11:05:13</td>   <td>9869</td> <td>&nbsp;</td><td title="&lt;&lt;NewTestDemo.afterTest()[pri:0, instance:example.NewTestDemo@66a3ffec]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1845904670</td>   <td></td> </tr>
</table>
